<div class="main center">
    <h1>Welcome</h1>
    <hr>
    <address>Current Location: New York, New York City</address>
    <h1>Date: {{myDate}}</h1>
    <h3>Time now: {{myTime}}</h3>
    <hr>
    <address>Current Location: Tokyo, Japan</address>
    <h1>Date:  {{diffDate}}</h1>
    <h3>Time now:  {{diffTime}}</h3>
    <button onclick={{action refreshValues}}>Refresh</button>
    <div>Refreshed Counter: {{refreshedCount}}</div>
</div>