
<div class= "time-app">

<h2>{{textDisplayCurrent}}</h2>
<p>{{month}}/{{day}}/{{year}},  {{hour}}:{{min}}:{{sec}}.{{ms}}</p>


<h2>{{textDisplayForeign}}</h2>
<p>{{month}}/{{day}}/{{year}},  {{hourForeign}}:{{min}}:{{sec}}.{{ms}} </p>

<button onclick={{action refreshTime}}>Refresh</button>


</div>