<h1>Assignment 1 CSC 511 Daniel Dolan</h1>
    <h2> Today's Date:</h2>
    <p>{{month}}/{{day}}/{{year}}</p>
    <h2>Current Time in New York:</h2>
    <p>{{hour}}:{{minute}}:{{seconds}}:{{ms}}</p>
    <h2> Time and Date in Tokyo (China)</h2>
    <p>{{timezone}}</p>
    <button class='myButton' onclick={{action refresh}}>Refresh Time & Date</button>