<div class="main center">
    <h1>Welcome</h1>
    <hr>
    <address>Current: New York</address>
    <h1>Date: {{myDate}}</h1>
    <h3>Time: {{myTime}}</h3>
    <hr>
    <address>Current address: Nigeria, Africa</address>
    <h1>Date:  {{diffDate}}</h1>
    <h3>Time:  {{diffTime}}</h3>
    <button onclick={{action refresh}}>Refresh</button>
    <div>Refreshed Counter: {{Count}}</div>
</div> 